.term{
    margin-top: 0px;
    float: right;
    display: inline-flex;
    list-style:none;
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
}
.grid-item{
    background-color:antiquewhite;
    text-decoration: dotted;
    font-size: 20;
}
